
#wrapper {

    display: flex;
    justify-content: center;
}
.btn-signin {
    height: 80px;
    border-width: 1px;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;

}

.btn-signin:active{
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}

img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
