<TabView [(ngModel)]="tabSelectedIndex" class="tabs" (selectedIndexChanged)="onSelectedIndexChanged($event)" androidTabsPosition="bottom" >
    <StackLayout   *tabItem="{title: 'Home', iconSource: 'res://home.png', textTransform: 'capitalize'}">
            <ns-tab1></ns-tab1>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Bookmarks', iconSource: 'res://star.png', textTransform: 'capitalize'}">
            <ns-tab2></ns-tab2>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Search', iconSource: 'res://search.png', textTransform: 'capitalize'}">
        <ns-tab3></ns-tab3>
    </StackLayout>
</TabView>
